<h3>From</h3>

@using ABC_Supermarket.Shared.Models

<EditForm Model="@itemobj" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Item Code :</label>
        <div>
            <InputNumber @bind-Value="@itemobj.ItemCode" />
            <ValidationMessage For="@(() => itemobj.ItemCode)" />
            <a class="btn btn-success" href="CURD/FetchItem/@itemobj.ItemCode">...</a>
        </div>
        
    </div>
    <div class="form-group">
        <label>Item Name :</label>
        <div>
            <InputText @bind-Value="@itemobj.ItemName" />
            <ValidationMessage For="@(() => itemobj.ItemName)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Unit Price :</label>
            <div>
                <InputNumber @bind-Value="@itemobj.UnitPrice" />
                <ValidationMessage For="@(() => itemobj.UnitPrice)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Stock :</label>
            <div>
                <InputNumber @bind-Value="@itemobj.Stock" />
                <ValidationMessage For="@(() => itemobj.Stock)" />
            </div>
        </div>
    </div>

    <a class="btn btn-success" href="CURD/Clear">Clear</a>
    <a class="btn btn-danger" href="CURD/Delete/@itemobj.ItemCode">Delete</a>
    <button type="submit" class="btn btn-success"> @ButtonText </button>
</EditForm>

@code {
    [Parameter] public ItemDetails itemobj { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

   
}
